* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ariel", sans-serif;
    color: 222;
    font-size: small;
    min-width: 1000px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    position: relative;
    display: inline-block;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    color: #5F6368;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rbga(0,0,0,0.1);
    padding: 10px 16px;

}

button:hover {
    border: 1px solid;
    border-color: #999;
    color: #222;

}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

header a {
    color: #222;
    margin-left: 27px;
}

header img {
    width: 32px;
}


main p {
    text-align: center;
    padding: 20px 20px;
}

main a {
    color: #1a0dab;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    height: 40px;
}

.bottom-box a,
.bottom-box p {
    color: rgba(0,0,0,.54);
    padding-left:27px; 

}

.center {
    display: block;
    margin: 0 auto;
}

.logo {
    padding-top: 109px;
    width: 272px;
}

.searchbar {
    padding: 5px 8px 0 16px;
    width: 484px;
}

.submit-buttons {
    display: block;
    width: 300px;
    margin: 0 auto;
    top: 53px;
    padding-top: 18px;
}

.searchform {
    display: block;
    height: 118px;
    padding-top: 18px;
}


.gmail,
.privacy {
    margin-left: auto;
}

.settings,
.user-icon {
    margin-right: 27px;
}
